//- ВНИМАНИЕ! Этот файл генерируется автоматически.
 * Не пишите сюда ничего вручную, все такие правки будут потеряны при следующей компиляции.

include ../.././src/blocks/c-button//c-button.pug
include ../.././src/blocks/c-navbar//c-navbar.pug
include ../.././src/blocks/c-burger//c-burger.pug
