//- ВНИМАНИЕ! Этот файл генерируется автоматически.
 * Не пишите сюда ничего вручную, все такие правки будут потеряны при следующей компиляции.

include ../.././src/blocks/btn//btn.pug
include ../.././src/blocks/test//test.pug
include ../.././src/blocks/form//form.pug
include ../.././src/blocks/about//about.pug
include ../.././src/blocks/advantages//advantages.pug
include ../.././src/blocks/b1//b1.pug
include ../.././src/blocks/b2//b2.pug
include ../.././src/blocks/c-button//c-button.pug
