- 
	navList = [
		{
			link: 'l1',
			name: 'home'
		},
		{
			link: 'l2',
			name: 'home3'
		},
	]


		adv = [
			{
				name: 'Качество',
				descr: 'Мы лучше всех'
			},
			{
				name: 'Гарантия',
				descr: 'Гарантия 2 года'
			},
			{
				name: 'Скорость',
				descr: 'Делаем быстро'
			}
		]

-
	tabs = [
		'One',
		'Two',
		'Three',
		'Four'
	]