doctype html
html(lang="ru")
  head
    title pageTitle3
    link(rel='stylesheet', type='text/css', href='assets/css/app.min.css')
   
  body
    h1 Pug - node template engine
    .items

      .item
        span.icon 123
        |test1

      .item
        span.icon 123
        |test1

      .item
        span.icon 123
        |test1

    script(src='assets/js/app.min.js') 