extends _layouts/_default



block vars
	-
		page = {
			title: 'home'
		}

block content
	+navbar(navList)

	section.section.adv
		.adv__wrap
			.adv__items
				each item in adv
					.adv__item
						.adv__title= item.name
						.adv__descr= item.descr

	section.tabs
		+tabs(tabs)