@import '../../../node_modules/blaze/scss/components.navs';

.navbar{    
    background-color: $nav-background-color;
}

.navbar__wrap{
    @include wrapper();
    display: flex;
    padding-top: $nav-padding;
    padding-bottom: $nav-padding;
    align-items: center;
    min-height: $nav-height;
}

.navbar__left{

}

.navbar__center{
    flex-grow: 1;

    
    .c-nav--inline{
        @include media-max($mobile-switch){
            display: none;
        }
    }
   
}

.navbar__right{

}

.c-nav{

}

.c-nav__item,
.c-nav__content {
    margin-bottom: 0;
    height: auto;
    line-height: inherit;
}

.c-nav__content{
    height: $nav-height;
}

.c-nav__item{
    padding: 0;
    position:relative;

    &--dropdown{
        &::before{
            position: absolute;
            height: 22px;
            width: 10px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            content: "\f107";
            font-family: FontAwesome;
            color: $accent-color;
        }
    }
}

.c-nav__link{
    line-height: $nav-item-height;
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0 $nav-item-padding;
    font-size: rem($nav-font-size);    
	position: relative;

    &:hover{
        color: $nav-item-hover-color;
        text-decoration: none;
    }

    &:focus{
        color: $nav-item-hover-color;
        text-decoration: none;
    }

    &:active{
        color: $nav-item-hover-color;
        text-decoration: none;
    }
}

.c-nav--dropdown{
    position: absolute;
    top: $nav-height - ($nav-height - $nav-item-height)/2;
    left: 0;
    min-width: 300px;
    background-color: darken(rgba($nav-background-color, .9), 30%);

    > .c-nav__item{
        text-align: left;

        &:hover > .c-nav__link{
			background-color: rgba($accent-color, .6);
		}
        
        > .c-nav__link{
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    
}

// Hide drop down

.c-nav--dropdown .c-nav__item,
.c-nav--dropdown .c-nav__content{
   display: none;    
}

// Show drop down

.c-nav__item--dropdown > .c-nav .c-nav__item{
    opacity: 1;
}

.c-nav__item--dropdown-active > .c-nav .c-nav__item{
    display: block;
    opacity: 0;
    animation: menu 300ms ease-in-out forwards;
}

@keyframes menu{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#mobilePanel{
    background-color: #333;
}

.slideout-menu{
    display: none;
}

.c-nav--slideOut{
    background-color: transparent;
    color: #fff;

    .c-nav__item--dropdown::before{
		top: $nav-font-size / 2;
		bottom: auto;
		right: 20px;
	}
}

@include media-max($mobile-switch){
    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 230px;
        min-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        display: none;
      }
      
      .slideout-menu-left {
        left: 0;
      }
      
      .slideout-menu-right {
        right: 0;
      }
      
      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF; /* A background-color is required */
        min-height: 100vh;
      }
      
      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }
      
      .slideout-open .slideout-menu {
        display: block;
      }
}

// Hide burger in desctop

#menuBurger {
    padding: 25px 20px;
    display: none;
  
    @include media-max($mobile-switch){
      display: block;
    }
  
  }

// Slideout menu
.c-nav.c-nav--slideOut{
    width: 100%;

    .c-nav__item--dropdown-active{
        .c-nav--dropdown{
            position: static;
        }
    }
}