body{
	background-color: green;
}

.item{
	@media only screen and (max-width: 480px) {	  
    color: red;	  
	}
}

h1{
	font-size: 30px;
	transition: all .1s;

	@media only screen and (max-width: 480px) {	  
    color: green;	  
	}
}