@import "_tools/_tools.scss";
@import "_components/_components.scss";
@import "_base/_base.scss";
@import "_blocks/**/*";

.header{
	min-height: 100px;
	background-color: #ccf;
}

.footer{
	min-height: 100px;
	background-color: #ffc;
}

.sec1{
	background-color: #aaa;
}

.adv{
	&__wrap{
		@include wrapper();
	}
	&__items{
		@include row-flex();
	}
	&__item{
		@include col();
		@include size(4);
	}
	&__title{

	}
	&__descr{

	}
}