mixin d-typography()
    section.section.d-typo.comp
        .container
            .section-title Typography
            .row

                .col-md-4
                    h1 h1 Headline
                    h2 h2 Headline
                    h3 h3 Headline
                    h4 h4 Headline
                    h5 h5 Headline
                    h6 h6 Headline
                    hr

                    address
                        strong Twitter, Inc.
                        br
                        | 	  1355 Market Street, Suite 900
                        br
                        | 	  San Francisco, CA 94103
                        br
                        abbr(title='Phone') P:
                            |  (123) 456-7890
                        blockquote
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.

                .col-md-5
                    h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, illum?
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt recusandae exercitationem quod.
                    table
                        tbody
                            tr
                                td
                                    code &lt;a>
                                td
                                    a(href='') ссылка
                            tr
                                td
                                    code &lt;strong>
                                td
                                    strong действительно значимый текст
                            tr
                                td
                                    code &lt;b>
                                td
                                    b просто выделенный текст, лид
                            tr
                                td
                                    code &lt;i>
                                td
                                    i иностранное слово или термин
                            tr
                                td
                                    code &lt;em>
                                td
                                    em эмфатическое ударение
                            tr
                                td
                                    code &lt;s>
                                td
                                    s информация, утратившая актуальность
                            tr
                                td
                                    code &lt;del>
                                td
                                    del изменение, внесённое в документ (удаление)
                            tr
                                td
                                    code &lt;ins>
                                td
                                    ins изменение, внесённое в документ (добавление)
                            tr
                                td
                                    code &lt;mark>
                                td
                                    mark акцент маркерным выделением
                            tr
                                td
                                    code &lt;small>
                                td
                                    small малозначимый текст
                            tr
                                td
                                    code &lt;abbr>
                                td
                                    abbr(title='Аббревиатура') АББРЕВИАТУРА
                            tr
                                td
                                    code &lt;kbd>
                                td
                                    kbd Ctrl + C
                            tr
                                td
                                    code &lt;sup>
                                td
                                    | 2
                                    sup 3
                            tr
                                td
                                    code &lt;sub>
                                td
                                    | H
                                    sub 2
                                    | O
                            tr
                                td
                                    code &lt;code>
                                td `code`
                .col-md-3
                    ul
                        li Lorem ipsum dolor sit amet
                        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        li
                            ul
                                li Lorem ipsum dolor.
                                li Lorem ipsum dolor.
                        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        
                    ol
                        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    
                    dl
                        dt Lorem ipsum dolor.
                            dd Lorem ipsum dolor 
                            dd Lorem ipsum dolor sit
                        dt Lorem ipsum dolor.
                            dd Lorem ipsum dolor 
                            dd Lorem ipsum dolor sit
