extends _layouts/_example


block content

    #mobilePanel.mobilePanel
        .mobilePanel__menu
        .mobilePanel__contact Contact

    main.page__main#mainContent
        +d-nav-bar()
        +d-color()
        +d-typography()




        //- +c-button()











        //- +d-nav-bar()
        //- +d-color()
        //- +d-typography()
        //- +d-btn()
        //- +d-elements()