<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="assets/css/demo.min.css")
        title Document
    body.page

        #mobilePanel.mobilePanel
            .mobilePanel__menu
            .mobilePanel__contact Contact

        main.page__main#mainContent
            .navbar
                .navbar__wrap
                    .navbar__left
                        img(src="/assets/img/site/logo.png", alt="")
                    nav.navbar__center
                        ul.c-nav.c-nav--inline#mainMenu
                            li.c-nav__item Home
                            li.c-nav__item News                        
                            li.c-nav__item News                        
                            li.c-nav__item News                        
                    .navbar__right Contact
                    a.menu-button#menuBurger
                        span.burger-icon


        
        

        script(src='assets/js/app.min.js') 
