extends _layouts/_example


block content

    #mobilePanel.mobilePanel
        .mobilePanel__menu
        .mobilePanel__contact Contact

    main.page__main#mainContent
       
        //- Nav bar

        .comp
            .comp__descr
                include:markdown-it(html='true') ../blocks/c-navbar/readme.md
            +c-navbar()

        +d-color()
        +d-typography()
        +d-btn()
        //- +d-elements()