extends _layouts/_example


block content

    #mobilePanel.mobilePanel
        .mobilePanel__menu
        .mobilePanel__contact Contact

    main.page__main#mainContent
        
        +d-nav-bar()
        +d-color()
        +d-typography()
        +d-btn()
        +d-elements()




        //- .comp
        //-     //- -------------------------- documentation --------------------------
        //-     .comp__descr
        //-         <pre><code class="language-pug">
        //-             .
        //-                 .navbar
        //-                     .navbar__wrap
        //-                         .navbar__left
        //-                             img(src="/assets/img/site/logo.png", alt="")
        //-                         nav.navbar__center
        //-                             ul.c-nav.c-nav--inline#mainMenu

        //-                                 li.c-nav__item
        //-                                     a(href="#").c-nav__link Главная

        //-                                 li.c-nav__item.c-nav__item--active.c-nav__item--dropdown
        //-                                     a(href="#").c-nav__link О нас
        //-                                     ul.c-nav.c-nav--dropdown
        //-                                         li.c-nav__item
        //-                                             a(href="#").c-nav__link Кто мы
        //-                                         li.c-nav__item
        //-                                             a(href="#").c-nav__link Как мы работаем
        //-                                         li.c-nav__item
        //-                                             a(href="#").c-nav__link Почему мы
        //-                                         li.c-nav__item
        //-                                             a(href="#").c-nav__link Наша команда

        //-                                 li.c-nav__item.c-nav__item--dropdown
        //-                                     a(href="#").c-nav__link Услуги
        //-                                         ul.c-nav.c-nav--dropdown
        //-                                             li.c-nav__item
        //-                                                 a(href="#").c-nav__link Кто мы
        //-                                             li.c-nav__item
        //-                                                 a(href="#").c-nav__link Как мы работаем
                                            
        //-                                 li.c-nav__item
        //-                                     a(href="#").c-nav__link Контакты
                                            
        //-                         .navbar__right Contact
        //-                         a.menu-button#menuBurger
        //-                             span.burger-icon
        //-         </code></pre>
        //-     //- -------------------------------------------------------------------
        //-     .navbar
        //-         .navbar__wrap
        //-             .navbar__left
        //-                 img(src="/assets/img/site/logo.png", alt="")
        //-             nav.navbar__center
        //-                 ul.c-nav.c-nav--inline#mainMenu

        //-                     li.c-nav__item
        //-                         a(href="#").c-nav__link Главная

        //-                     li.c-nav__item.c-nav__item--active.c-nav__item--dropdown
        //-                         a(href="#").c-nav__link О нас
        //-                         ul.c-nav.c-nav--dropdown
        //-                             li.c-nav__item
        //-                                 a(href="#").c-nav__link Кто мы
        //-                             li.c-nav__item
        //-                                 a(href="#").c-nav__link Как мы работаем
        //-                             li.c-nav__item
        //-                                 a(href="#").c-nav__link Почему мы
        //-                             li.c-nav__item
        //-                                 a(href="#").c-nav__link Наша команда

        //-                     li.c-nav__item.c-nav__item--dropdown
        //-                         a(href="#").c-nav__link Услуги
        //-                             ul.c-nav.c-nav--dropdown
        //-                                 li.c-nav__item
        //-                                     a(href="#").c-nav__link Кто мы
        //-                                 li.c-nav__item
        //-                                     a(href="#").c-nav__link Как мы работаем
                                
        //-                     li.c-nav__item
        //-                         a(href="#").c-nav__link Контакты
                                
        //-             .navbar__right Contact
        //-             a.menu-button#menuBurger
        //-                 span.burger-icon